:root {
    --white-color: hsl(0, 0%, 100%);

    --stone-100-color: hsl(30, 54%, 90%);
    --stone-150-color: hsl(30, 18%, 87%);
    --stone-600-color: hsl(30, 10%, 34%);
    --stone-900-color: hsl(24, 5%, 18%);

    --brown-800-color: hsl(14, 45%, 36%);

    --rose-800-color: hsl(332, 51%, 32%);
    --rose-50-color: hsl(330, 100%, 98%);
}

@font-face {
    font-family: 'Young Serif';
    src: url('../fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/outfit/static/Outfit-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page {
    background-color: var(--white-color);
}

body {
    color: var(--stone-600-color);
    font-family: Outfit;
}


p {
    font-size: 16px;
    color: var(--stone-600-color);
    line-height: 1.5;
}

.content {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (max-width: 768px) {
    .content {
        width: 375px;
    }
}

/* Large */
@media (min-width: 769px) {
    .content {
        width: 1440px;
    }
}

.content .image {
    background-image: url("../images/image-omelette.jpeg");
    background-size: cover;
    /*height: calc(100vh - 64px);*/
}

/* Mobile styles */
@media (max-width: 375px) {
    .content .image {
        height: 200px;
        margin: -20px -20px 20px -20px;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
    }
}

/* Desktop styles */
@media (min-width: 376px) {
    .content .image {
        height: 800px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
}

.content h1 {
    font-family: "Young Serif";
    color: var(--stone-900-color);
}

.content .describe {
    font-family: Outfit;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
}

.content .notes {
    background-color: var(--rose-50-color);
    padding: 20px 20px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.content .notes h3 {
    font-family: Outfit;
    color: var(--rose-800-color);
    margin: 10px 0;
}

.content .notes ul {
    list-style: none;
}

.content .notes ul li {
    font-family: Outfit;
    position: relative;
    padding-left: 30px;
    line-height: 2;
}

.content .notes ul li::before {
    content: "";
    position: absolute;
    background-color: var(--rose-800-color);
    display: inline-block;
    width: 5px;
    height: 5px;
    left: 5px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.content .notes ul .title {
    font-family: Outfit;
    font-weight: 700;
}

.content .ingredients {
    border-bottom: 1px solid var(--stone-150-color);
    padding-bottom: 20px;
    margin: 20px 0;
}

.content .ingredients h2 {
    font-family: "Young Serif";
    color: var(--brown-800-color);
    font-weight: normal;
    margin-bottom: 10px;
}

.content .ingredients ul {
    list-style: none;
}

.content .ingredients ul li {
    font-family: Outfit;
    position: relative;
    line-height: 2;
    padding-left: 30px;
}

.content .ingredients ul li::before {
    content: "";
    position: absolute;
    background-color: var(--brown-800-color);
    display: inline-block;
    width: 5px;
    height: 5px;
    left: 5px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.content .instructions {
    border-bottom: 1px solid var(--stone-150-color);
    padding-bottom: 20px;
    margin: 20px 0;
}

.content .instructions h2 {
    font-family: "Young Serif";
    color: var(--brown-800-color);
    font-weight: normal;
    margin-bottom: 10px;
}

.content .instructions ol {
    list-style: none;
    counter-reset: item;
}

.content .instructions ol li {
    counter-increment: item;
    position: relative;
    font-family: Outfit;
    line-height: 2;
    padding-left: 30px;
}

.content .instructions ol li::before {
    content: counter(item) ".";
    position: absolute;
    left: 5px;
    color: var(--brown-800-color);
    font-weight: bold;
}

.content .instructions ol .title {
    font-weight: 700;
}

.content .nutrition {
    padding-bottom: 20px;
    margin: 20px 0;
}

.content .nutrition h2 {
    font-family: "Young Serif";
    color: var(--brown-800-color);
    font-weight: normal;
    margin-bottom: 10px;
}

/*
.content .nutrition .items {
    display: flex;
}
*/
.content .nutrition .items .item {
    display: flex;
    justify-items: center;
    text-align: left;
    justify-content: left;
    gap: calc(50% - 100px)
}

.content .nutrition .items .item:not(:last-child) {
    border-bottom: 1px solid var(--stone-150-color);
}

.content .nutrition .items .item p {
    display: block;
    margin: 10px 0px 10px 30px;
    padding: 0;
    width: 100px;
    font-weight: 600;
}

.content .nutrition .items .item span {
    display: block;
    margin: 10px 0;
    padding: 0;
    width: 100px;
    color: var(--brown-800-color);
    font-weight: 700;
}

.attribution {
    padding: 20px 0;
    text-align: center;
    background-color: var(--stone-100-color);
}

.attribution a {
    text-decoration: none;
    color: var(--stone-900-color);
    font-family: "Young Serif";
    font-style: italic;
}