:root {
    --white-color: hsl(0, 0%, 100%);

    --stone-100-color: hsl(30, 54%, 90%);
    --stone-150-color: hsl(30, 18%, 87%);
    --stone-600-color: hsl(30, 10%, 34%);
    --stone-900-color: hsl(24, 5%, 18%);

    --brown-800-color: hsl(14, 45%, 36%);

    --rose-800-color: hsl(332, 51%, 32%);
    --rose-50-color: hsl(330, 100%, 98%);
}

@font-face {
    font-family: 'Young Serif';
    src: url('../fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/outfit/static/Outfit-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    color: var(--stone-600-color);
    font-family: Outfit, sans-serif;
    background-color: var(--stone-100-color);
    line-height: 2;
}


p {
    font-size: 16px;
    color: var(--stone-600-color);
    line-height: 1.5;
}

.container {
    width: 50%;
    margin: 100px auto;
    padding: 20px 20px 0 20px;
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.container img {
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* Small */

@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .container img {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .container .box {
        padding: 0 20px;
    }
}

.container h1 {
    font-family: "Young Serif";
    color: var(--stone-900-color);
    margin: 20px 0;
}

.container .describe {
    font-weight: 400;
    margin-bottom: 40px;
}

.container .notes {
    background-color: var(--rose-50-color);
    padding: 20px 20px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container .notes h3 {
    color: var(--rose-800-color);
    margin: 10px 0;
}

.container .notes ul {
    list-style: none;
}

.container .notes ul li {
    position: relative;
    padding-left: 30px;
}

.container .notes ul li::before {
    content: "";
    position: absolute;
    background-color: var(--rose-800-color);
    display: inline-block;
    width: 5px;
    height: 5px;
    left: 5px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.container .notes ul .title {
    font-weight: 700;
}

.container .components {
    margin: 20px 0;
}

.container .components:not(:last-child) {
    border-bottom: 1px solid var(--stone-150-color);
    padding-bottom: 20px;
}

.container .components h2 {
    font-family: "Young Serif";
    color: var(--brown-800-color);
    font-weight: normal;
    margin-bottom: 10px;
}

.container .components .ingredients {
    list-style: none;
}

.container .components .ingredients li {
    position: relative;
    padding-left: 30px;
}

.container .components .ingredients li::before {
    content: "";
    position: absolute;
    background-color: var(--brown-800-color);
    display: inline-block;
    width: 5px;
    height: 5px;
    left: 5px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container .components .instructions {
    list-style: none;
    counter-reset: item;
}

.container .components .instructions li {
    counter-increment: item;
    position: relative;
    font-family: Outfit;
    padding-left: 30px;
}

.container .components .instructions li:not(:last-child) {
    padding-bottom: 10px;
}

.container .components .instructions li::before {
    content: counter(item) ".";
    position: absolute;
    left: 5px;
    color: var(--brown-800-color);
    font-weight: bold;
}

.container .components .instructions .title {
    font-weight: 700;
}

.container .components .items .item {
    display: flex;
    justify-items: center;
    text-align: left;
    justify-content: left;
    gap: calc(50% - 100px);
}

.container .components .items .item:not(:last-child) {
    border-bottom: 1px solid var(--stone-150-color);
}

.container .components .items .item p {
    display: block;
    margin: 10px 0px 10px 30px;
    padding: 0;
    width: 100px;
    font-weight: 600;
}

.container .components .items .item span {
    display: block;
    margin: 10px 0;
    padding: 0;
    width: 100px;
    color: var(--brown-800-color);
    font-weight: 700;
}

.attribution {
    padding: 20px 0;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: var(--stone-900-color);
    font-family: "Young Serif";
    font-style: italic;
}