:root {
    --white-color: hsl(0, 0%, 100%);

    --stone-100-color: hsl(30, 54%, 90%);
    --stone-150-color: hsl(30, 18%, 87%);
    --stone-600-color: hsl(30, 10%, 34%);
    --stone-900-color: hsl(24, 5%, 18%);

    --brown-800-color: hsl(14, 45%, 36%);

    --rose-800-color: hsl(332, 51%, 32%);
    --rose-50-color: hsl(330, 100%, 98%);
}

@font-face {
    font-family: 'Young Serif';
    src: url('../fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/outfit/static/Outfit-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    color: var(--stone-600-color);
    font-family: Outfit, sans-serif;
    background-color: var(--stone-100-color);
    line-height: 2;
}


p {
    font-size: 16px;
    color: var(--stone-600-color);
    line-height: 1.5;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 51%;
    margin: 120px auto;
    padding: 38px 38px 32px 38px;
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.container img {
    width: 100%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.container .box {
    display: flex;
    flex-direction: column;
}

/* Small */

@media (max-width: 768px) {
    .container {

        width: 100%;
        margin: 0 auto;
        padding: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .container img {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .container .box {
        padding: 12px 28px 12px 32px;
    }
}

.container h1 {
    font-family: "Young Serif";
    color: var(--stone-900-color);
    font-size: 38px;
    letter-spacing: 1px;
    font-weight: 400;
}

.container .describe {
    font-weight: 400;
    margin-top: 7px;
    margin-bottom: 25px;
    color: var(--stone-600-color);
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .container h1 {
        font-size: 35px;
        letter-spacing: 0.5px;
        line-height: 1.1;
    }

    .container .describe {
        margin-top: 22px;
        margin-bottom: 30px;
    }
}

.container .notes {
    background-color: var(--rose-50-color);
    padding: 15px 25px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container .notes h3 {
    color: var(--rose-800-color);
    margin: 10px 0 3px;
    letter-spacing: 0.7px;
}

.container .notes ul {
    list-style: none;
}

.container .notes ul li {
    position: relative;
    padding-left: 40px;
}

.container .notes ul li::before {
    content: "";
    position: absolute;
    background-color: var(--rose-800-color);
    display: inline-block;
    width: 4px;
    height: 4px;
    left: 10px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container .notes ul .title {
    font-weight: 700;
}

@media (max-width: 768px) {
    .container .notes {
        padding: 8px 25px 18px 22px;
    }

    .container .notes h3 {
        margin: 10px 0 5px;
    }

    .container .notes ul {
        list-style: none;
    }

    .container .notes ul li {
        line-height: 1.6;
        margin-bottom: 6px;
    }
}

.container .components {
    margin: 23px 0 0;
}

.container .components:not(:last-child) {
    border-bottom: 1px solid var(--stone-150-color);
    padding-bottom: 24px;
}

.container .components h2 {
    font-family: "Young Serif";
    color: var(--brown-800-color);
    font-weight: normal;
    font-size: 26px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.container .components .ingredients {
    list-style: none;
}

.container .components .ingredients li {
    position: relative;
    padding-left: 40px;
}

.container .components .ingredients li::before {
    content: "";
    position: absolute;
    background-color: var(--brown-800-color);
    display: inline-block;
    width: 4px;
    height: 4px;
    left: 8px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media (max-width: 768px) {
    .container .components {
        margin: 20px 0 0;
    }
    .container .components .ingredients li {
        line-height: 1.9;
    }

}

.container .components .instructions {
    list-style: none;
    counter-reset: item;
}

.container .components .instructions li {
    counter-increment: item;
    position: relative;
    font-family: Outfit;
    padding-left: 40px;
    line-height: 1.5;
    padding-bottom: 8px;
}

.container .components .instructions li:last-child {
    padding-bottom: 6px;
}

.container .components .instructions li::before {
    content: counter(item) ".";
    position: absolute;
    left: 8px;
    color: var(--brown-800-color);
    font-weight: bold;
}

.container .components .instructions .title {
    font-weight: 700;
}

.container .components .nutrition-p {
    margin-bottom: 14px;
}

.container .components .items {
    display: flex;
    flex-direction: column;
}

.container .components .items .item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 10px 15px 0px 30px;
}

.container .components .items .item:not(:last-child) {
    border-bottom: 1px solid var(--stone-150-color);
    padding: 10px 15px 5px 30px;
}

.container .components .items .item p {
    display: block;
    flex: 1;
    font-weight: 600;
}

.container .components .items .item span {
    display: block;
    flex: 1;
    color: var(--brown-800-color);
    font-weight: 700;
}


.attribution {
    padding: 20px 0;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: var(--stone-900-color);
    font-family: "Young Serif";
    font-style: italic;
}